<form name="newsletterForm" novalidate>
    <div class="form-group">
        <label for="firstName">First name:</label>
        <input type="text" name="firstName" id="firstName" ng-model="ctrl.user.firstName"
               class="form-control" placeholder="eg. Marty" required
               minlength="2">
        <span class="form-error"
              ng-if="newsletterForm.firstName.$touched && (newsletterForm.firstName.$error.required || newsletterForm.firstName.$error.minlength)">
            First name has to be at least 2 characters long
        </span>
    </div>
    <div class="form-group">
        <label for="lastName">Last name:</label>
        <input type="text" name="lastName" id="lastName" ng-model="ctrl.user.lastName" class="form-control"
               placeholder="eg. McFly" required
               minlength="2">
        <span class="form-error"
              ng-if="newsletterForm.lastName.$touched && (newsletterForm.lastName.$error.required || newsletterForm.lastName.$error.minlength)">
            Last name has to be at least 2 characters long
        </span>
    </div>
    <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" name="email" id="email" ng-model="ctrl.user.email" class="form-control"
               placeholder="eg. marty@mcfly.com" required
               minlength="1">
        <span ng-if="newsletterForm.email.$touched && (newsletterForm.email.$error.required || newsletterForm.email.$invalid)">
            Must be a valid email address: handle@domain format
         </span>
    </div>
    <div class="form-group">
        <label for="phone">Phone number:</label>
        <input type="text" name="phone" id="phone" ng-model="ctrl.user.phone" class="form-control" placeholder="Phone ###-###-####"
               pattern="(\d{3})-(\d{3})-(\d{4})">
        <span ng-if="newsletterForm.phone.$touched && newsletterForm.phone.$invalid">
            Phone must be in the format ###-###-####.
        </span>
    </div>
    <div class="form-group">
        <label for="dish">Favorite dish code:</label>
        <input type="number" name="dish" id="dish"  ng-model="ctrl.user.favoriteDish" class="form-control" placeholder="eg. L1" required minlength="1">
        <span ng-if="newsletterForm.phone.$touched && !$ctrl.dishExists">
            No such dish could be found.
        </span>
    </div>
    <button class="form-control" ng-disabled="newsletterForm.$invalid" ng-click="ctrl.submit()">
        Submit
    </button>
</form>
